html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  background: #e5e5e5;
  display: flex;
  gap: 30px;
  padding: 55px 135px;
}

.section {
  width: 570px;
  height: 590px;
  background: #ffffff;
  border-radius: 6px;
}

.title {
  font-family: "Roboto", "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.section {
  padding: 35px 35px 16px;
}

.name {
  display: flex;
  gap: 12px;
}

.first-name {
  display: flex;
  flex-direction: column;
}

.last-name {
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 20px;
  margin-bottom: 7px;
  font-family: "Roboto", "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #545454;
}

.gender {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.email-input {
  width: 100%;
}
