html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  background: #e5e5e5;
  display: flex;
  gap: 30px;
  padding: 55px 135px;
}

.section {
  width: 570px;
  height: 590px;
  background: #ffffff;
  border-radius: 6px;
}

.title {
  font-family: "Roboto", "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.section {
  padding: 35px 35px 16px;
}

.name {
  display: flex;
  gap: 12px;
}

.first-name {
  display: flex;
  flex-direction: column;
}

.last-name {
  display: flex;
  flex-direction: column;
}

.text-name {
  width: 245px;
  height: 38px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}

.text {
  margin-top: 20px;
  margin-bottom: 7px;
  font-family: "Roboto", "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #545454;
}

.gender {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.email-input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  height: 38px;
}

.gender-selection {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.button {
  display: block;
  width: 500px;
  height: 38px;
  margin-top: 20px;
  width: 100%;
  background: #007bff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  font-family: "Roboto", "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.address {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text-address {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  width: 245px;
  height: 38px;
}

.text-footer {
  font-family: "Roboto", "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin-top: 22px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #007bff;
  text-decoration: none;
}

.class1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.class2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #545454;
}

.class3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #007bff;
}

.update {
  margin-top: 20px;
  background: #007bff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  width: 150px;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.load {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.load-file {
  margin-top: 30px;
}
.img {
  width: 80px;
  height: 80px;
}

.file {
  width: 138px;
  height: 30px;
}

.delete {
  height: 30px;
  width: 30px;
  margin-top: 30px;
}

.text-name:focus {
  outline: 3px solid #39c;
}

.email-input:focus {
  outline: 3px solid #39c;
}

.text-address:focus {
  outline: 3px solid #39c;
}

/* .first-name::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
} */
